<div class="fondo"></div>
<header>
    <div class="header-logo">
        <img src="images/logoonetower.jpg" alt="logo" width="150">
    </div>
    <div class="header-contenedor">

        <div class="header-iconmenu">
            <input type="checkbox" id="menu-bar">
            <!--este input es para hacer un menu desplegable-->
            <label class="icon-menu" for="menu-bar"></label>
            <!--esta label tambien es para el menu bar-->
            <nav class="menu">

                <a href="/">Inicio</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/proyectos">Proyectos</a>
                <a href="/noticias">Noticias</a>
                <a href="/contacto">Contacto</a>
                <div class="redes">
                    <a href="https://www.facebook.com/" target="_blank"><img src="images/facebook.png"
                            alt="facebook"></a>
                    <a href="https://www.instagram.com/?hl=es-la
                        " target="_blank"><img src="images/instagram.png" alt="instagram"></a>
                    <a href="https://www.linkedin.com/signup
                        " target="_blank"><img src="images/linkedin.png" alt="linkedin"></a>
                    <a href="https://web.whatsapp.com/
                        " target="_blank"><img src="images/whatsapp.png" alt="whatsapp"></a>
                    <a href="https://www.youtube.com/
                        " target="_blank"><img src="images/youtube.png" alt="youtube"></a>

                </div>
            </nav>
        </div>

    </div>
    <div class="header-texto">
        <p>Somos One Tower Construcciones</p>
        <h1>Nos especializamos en el diseño,
            construcción y transformación de espacios.</h1>

    </div>
</header>

<div class="contenedor-info">
    <section class="info">
        <img src="images/escuchamos.jpg" alt="imagen escuchamos">
        <div class="texto-info">
            <h2>Escuchamos</h2>
            <p>Nos caracterizamos por la atención personalizada que brindamos a nuestros clientes; escuchamos y
                evaluamos atentamente sus necesidades para ofrecerle una solución 100% a medida.
            </p>
        </div>
    </section>
    <section class="info">
        <img src="images/proponemos.jpg" alt="imagen proponemos">
        <div class="texto-info">
            <h2>Proponemos</h2>
            <p>Transformamos ideas en verdaderas experiencias. Brindamos soluciones integrales y versátiles,
                hechas a medida. Nuestra flexibilidad y trabajo continuo con el cliente dan como resultado
                propuestas que superan sus expectativas.
            </p>
        </div>
    </section>
    <section class="info">
        <img src="images/desarrollamos.jpg" alt="imagen desarrollamos">
        <div class="texto-info">
            <h2>Desarrollamos</h2>
            <p>La supervisión constante en el gerenciamiento y ejecución integral de las obras sumado a una
                amplia trayectoria ha consolidado nuestra especialización en la creación de ambientes óptimos
                para el desarrollo del capital humano.
            </p>
        </div>
    </section>
</div>
<div class="whatsapp-btn">
    <a href="https://api.whatsapp.com/send?phone=541158076452" target="_blank" class="wpp">
        <i class="fab fa-whatsapp wpp-icon text-white" aria-hidden="true"></i>
    </a>
</div>