<div class="fondo-nosotros"></div>
<header>
    <div class="header-logo">
        <img src="images/logoonetower.jpg" alt="logo" width="150">
    </div>
    <div class="header-contenedor">

        <div class="header-iconmenu">
            <input type="checkbox" id="menu-bar">
            <!--este input es para hacer un menu desplegable-->
            <label class="icon-menu" for="menu-bar"></label>
            <!--esta label tambien es para el menu bar-->
            <nav class="menu">

                <a href="/">Inicio</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/proyectos">Proyectos</a>
                <a href="/noticias">Noticias</a>
                <a href="/contacto">Contacto</a>
                <div class="redes">
                    <a href="https://www.facebook.com/" target="_blank"><img src="images/facebook.png"
                            alt="facebook"></a>
                    <a href="https://www.instagram.com/?hl=es-la
                        " target="_blank"><img src="images/instagram.png" alt="instagram"></a>
                    <a href="https://www.linkedin.com/signup
                        " target="_blank"><img src="images/linkedin.png" alt="linkedin"></a>
                    <a href="https://web.whatsapp.com/
                        " target="_blank"><img src="images/whatsapp.png" alt="whatsapp"></a>
                    <a href="https://www.youtube.com/
                        " target="_blank"><img src="images/youtube.png" alt="youtube"></a>

                </div>
            </nav>
        </div>

    </div>
</header>

<main class="contenedor-nosotros">
    <!--INICIO NOSOTROS-->

    <section class="nosotros">
        <div class="contenido-nosotros">
            <div class="nosotros-info">
                <div class="experiencia">
                    <h2>30+</h2>
                    <h4>AÑOS DE EXPERIENCIA</h4>
                </div>
                <div class="realizados">
                    <h2>300+</h2>
                    <h4>PROYECTOS REALIZADOS
                    </h4>
                </div>
            </div>
            <div class="nosotros-texto">
                <h1>NOSOTROS</h1>
                <p> <span>El equipo</span> de One Tower Construcciones está conformado por colaboradores y
                    asesores de amplia trayectoria en la industria de la arquitectura.
                </p>
                <br>
                <p> <span>Desarrollamos</span> nuestro trabajo diario en seis áreas interdisciplinarias:
                    Desarrollo, Proyectos, Obras, Administración, Comercial y Presupuestos que nos permite
                    desarrollar la ejecución integral de obras de forma optimizada, en menos tiempo y con
                    excelentes resultados para nuestros clientes.</p>
            </div>
        </div>
    </section>
    <div class="titulos">
        <!--INICIO LO QUE HACEMOS-->
        <h4>LO QUE HACEMOS</h4>
        <h2>Nos especializamos en:</h2>
    </div>
    <div class="contenedor-espe">
        <section class="especializacion">
            <img src="images/nosotros/planificacion.jpg" alt="imagen planificacion">
            <div class="texto-info">
                <h2>Planificacion</h2>
                <p>Desarrollamos el plan de obra para cada cliente de forma personalizada, siguiendo las
                    necesidades de su negocio y equipo de trabajo.</p>
            </div>
        </section>
        <section class="especializacion">
            <img src="images/nosotros/disenio.jpg" alt="imagen diseño">
            <div class="texto-info">
                <h2>Diseño</h2>
                <p>Nuestras propuestas son innovadoras y responden a las últimas tendencias en diseño,
                    sustentabilidad y bienestar de las personas.</p>
            </div>
        </section>
        <section class="especializacion">
            <img src="images/nosotros/construccion.jpg" alt="imagen construccion">
            <div class="texto-info">
                <h2>Construccion</h2>
                <p>Brindamos soluciones integrales y versátiles que se adaptan a las características propias de
                    cada cliente y espacio.</p>
            </div>
        </section>
    </div>
    <div class="whatsapp-btn">
        <a href="https://api.whatsapp.com/send?phone=541158076452" target="_blank" class="wpp">
            <i class="fab fa-whatsapp wpp-icon text-white" aria-hidden="true"></i>
        </a>
    </div>

</main>
<section class="como-hacemos">
    <div class="titulos">
        <!--INICIO COMO LO HACEMOS-->
        <h4>NOSOTROS</h4>
        <h2>Como lo hacemos:</h2>
    </div>
    <div class="contenido-como-hacemos">
        <div class="hacemos">
            <div class="texto-hacemos">
                <h2>Proyectos Llave en Mano</h2>
                <p>Nos ocupamos de su proyecto de principio a fin, centralizando todos los procesos y
                    requerimientos, brindando la garantía de contar con un proyecto más dinámico, 100%
                    personalizado, con un interlocutor directo, mediante el mecanismo Desing & Build:</p>
                <ul>
                    <li>✔ Análisis de necesidades.</li>
                    <li>✔ Definir el presupuesto en conjunto con el cliente, optimizando los recursos de modo
                        que sugerir al cliente dónde es más conveniente poner el foco de su inversión.</li>
                    <li>✔ Desarrollar el proyecto ejecutivo.</li>
                    <li>✔ Construcción y Dirección de Obra.</li>
                </ul>
            </div>
            <img src="images/nosotros/llavemano.jpg" alt="imagen llave en mano" class="img-hacemos">
        </div>

        <div class="hacemos">
            <img src="images/nosotros/eqprofesionales.jpg" alt="imagen llave en mano" class="img-hacemos">
            <div class="texto-hacemos">
                <h2>Equipo de profesionales especializados</h2>
                <p>Sin dudas, este es uno de los beneficios más importantes para nuestros clientes ya que
                    asignamos un equipo de profesionales dedicados, con el conocimiento y la experiencia que
                    requiere cada proyecto para llevarlo adelante. En One Tower Construcciones trabajamos para
                    brindarle al cliente un servicio 100% personalizado de la mano de un equipo profesional y
                    humano, con amplia trayectoria y capacitado en las últimas tecnologías y tendencias del
                    mercado. De esta forma garantizamos brindar una experiencia y calidad de trabajo que supere
                    las expectativas.
                </p>
            </div>

        </div>
        <div class="hacemos">
            <div class="texto-hacemos">
                <h2>Espacios de trabajo versátiles</h2>
                <p>Proponemos e implementamos soluciones integrales y versátiles que diseñamos especialmente
                    para cada cliente, y trabajamos con sumo detalle para transformarlo en un ambiente óptimo.
                    Nuestro trabajo se caracteriza por la supervisión constante en el gerenciamiento y ejecución
                    integral de las obras, trabajando siempre con profesionalismo, seriedad y compromiso, con el
                    objetivo de superar las expectativas.
                </p>
            </div>
            <img src="images/nosotros/versatiles.jpg" alt="imagen llave en mano" class="img-hacemos">
        </div>
        <div class="hacemos">
            <img src="images/nosotros/cumplimiento.jpg" alt="imagen llave en mano" class="img-hacemos">
            <div class="texto-hacemos">
                <h2>Cumplimiento de los plazos acordados</h2>
                <p>Sabemos que este es un factor determinante, ya que en muchos casos está en juego el pago de
                    un alquiler o la necesidad de mudarse de manera urgente. Por ello, llevamos la máxima
                    tranquilidad a nuestros clientes en cuanto al cumplimiento estricto de los plazos acordados
                    en el contrato firmado entre las partes antes de comenzar cada obra.
                    Equipo de profesionales especializados: Sin dudas, este es uno de los beneficios más
                    importantes para nuestros clientes ya que asignamos un equipo de profesionales dedicados,
                    con el conocimiento y la experiencia que requiere cada proyecto para llevarlo adelante. En
                    One Tower Construcciones trabajamos para brindarle al cliente un servicio 100% personalizado
                    de la mano de un equipo profesional y humano, con amplia trayectoria y capacitado en las
                    últimas tecnologías y tendencias del mercado. De esta forma garantizamos brindar una
                    experiencia y calidad de trabajo que supere las expectativas.
                </p>
            </div>

        </div>
    </div>
</section>