<div class="fondo-noticias"></div>
<main>
        <div class="titulos">
            <h4>NOTICIAS</h4>
            <h2>Ultimas Noticias</h2>
        </div>
        <div class="contenedor-noticias">
            <div class="noticia">
                <article class="entrada-blog">
                    <a href="https://www.lanacion.com.ar/revista-living/experiencia-casa-living-todo-lo-que-tenes-que-saber-para-disfrutar-la-primera-muestra-de-deco-diseno-nid11052022/"
                        target="_blank">
                        <div class="imagen-blog">
                            <img src="images/noticias/imagen03.jpg" alt="noticia03" class="img-noticia">
                        </div>
                        <div class="texto-blog">
                            <h2>Experiencia Casa Living</h2>
                            <p>Todo lo que tenés que saber para disfrutar la primera muestra de deco, diseño y arquitectura curada por Revista Living</p>
                        </div>
                    </a>
                </article>
            </div>

            <div class="noticia"> <!--ok-->
                <article class="entrada-blog">
                    <a href="https://www.lanacion.com.ar/propiedades/construccion-y-diseno/cuanto-cuesta-en-pesos-construir-una-casa-economica-de-entre-50-m2-y-78-m2-nid29042022/"
                        target="_blank">
                        <div class="imagen-blog">
                            <img src="images/noticias/imagen01.jpg" alt="noticia01" class="img-noticia">
                        </div>
                        <div class="texto-blog">
                            <h2>Propiedades.</h2>
                            <p>Desde qué monto de inversión se puede construir una casa de entre 50 y 78 metros
                                cuadrados</p>
                        </div>
                    </a>
                </article>
            </div>

            <div class="noticia"> <!--OK-->
                <article class="entrada-blog">
                    <a href="https://www.lanacion.com.ar/propiedades/construccion-y-diseno/las-mejores-ideas-para-integrar-las-cocinas-al-living-comedor-nid29042022/"
                        target="_blank">
                        <div class="imagen-blog">
                            <img src="images/noticias/imagen02.jpg" alt="noticia02" class="img-noticia">
                        </div>
                        <div class="texto-blog">
                            <h2>Deco: Más espacio.</h2>
                            <p>Las mejores ideas para integrar las cocinas al living-comedor</p>
                        </div>
                    </a>
                </article>
            </div>

            <div class="noticia">
                <article class="entrada-blog">
                    <a href="https://www.infobae.com/economia/2022/01/31/nuevas-tendencias-en-el-diseno-refaccion-y-construccion-de-viviendas-que-costos-tienen/"
                        target="_blank">
                        <div class="imagen-blog">
                            <img src="images/noticias/imagen04.jpg" alt="noticia04" class="img-noticia">
                        </div>
                        <div class="texto-blog">
                            <h2>Economia: Refaccion y Construccion</h2>
                            <p>Nuevas tendencias en el diseño, refacción y construcción de viviendas: qué costos tienen</p>
                        </div>
                    </a>
                </article>
            </div>

            <div class="noticia">
                <article class="entrada-blog">
                    <a href="https://www.zonaprop.com.ar/noticias/decoracion-guias-de-hogar/como-iluminar-correctamente-una-casa/"
                        target="_blank">
                        <div class="imagen-blog">
                            <img src="images/noticias/imagen05.jpg" alt="noticia05" class="img-noticia">
                        </div>
                        <div class="texto-blog">
                            <h2>Arq y Deco: Iluminacion</h2>
                            <p>¿Cómo iluminar correctamente una casa? Cuando vemos un espacio, seguramente una persona se siente más atraída por los más luminosos. Cómo conseguir que esa sensación se sostenga en todo momento.</p>
                        </div>
                    </a>
                </article>
            </div>

            <div class="noticia">
                <article class="entrada-blog">
                    <a href="https://www.zonaprop.com.ar/noticias/arq-y-deco/como-decorar-un-monoambiente/"
                        target="_blank">
                        <div class="imagen-blog">
                            <img src="images/noticias/imagen06.jpg" alt="noticia06" class="img-noticia">
                        </div>
                        <div class="texto-blog">
                            <h2>Arq y Deco: ¿Cómo decorar un monoambiente?</h2>
                            <p>Tips y consejos para equipar tu espacio y que sea disfrutable sin importar su tamaño.Ganar funcionalidad y dotarlo de liviandad son las claves.</p>
                        </div>
                    </a>
                </article>
            </div>


        </div>
        <div class="whatsapp-btn">
            <a href="https://api.whatsapp.com/send?phone=541158076452" target="_blank" class="wpp">
            <i class="fab fa-whatsapp wpp-icon text-white" aria-hidden="true"></i>
        </a>
        </div>

    </main>