<div class="fondo-proyectos"></div>
<main class="contenedor-proyectos">
        <div class="proyectos">
            <!--INICIO PROYECTOS-->
            <h1>Últimos proyectos realizados</h1>
            <p>Nuestros proyectos se destacan por estar orientados a brindar bienestar a nuestros clientes.
                Cada espacio diseñado se distingue por ser versátil, moderno, sustentable y por estar pensado para
                adaptarse a los gustos y organización de cada cliente. Nos especializamos en el desarrollo de proyectos
                Llave en Mano, en los que centralizamos todos los procesos y requerimientos, brindándole a nuestro
                cliente acompañamiento desde el inicio hasta el fin de la obra y la garantía de contar con un proyecto
                100% personalizado, dinámico y ejecutado con un único interlocutor directo.
            </p>
        </div>
        <div class="imagenes-proyectos">
            <div class="foto-proyectos">
                <img src="images/proyectos/img01.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img02.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img03.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img04.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img05.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img06.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img07.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img08.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img09.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img10.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img11.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img12.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img13.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img14.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img15.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img16.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img17.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img18.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img19.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img20.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img21.jpg" alt="imagen">
            </div>
            <div class="foto-proyectos">
                <img src="images/proyectos/img22.jpg" alt="imagen">
            </div>

        </div>
        <div class="whatsapp-btn">
            <a href="https://api.whatsapp.com/send?phone=541158076452" target="_blank" class="wpp">
                <i class="fab fa-whatsapp wpp-icon text-white" aria-hidden="true"></i>
            </a>
        </div>


    </main>